.error-test{
    height: 100vh;
    display: flex;
}


.error-container{
    margin: auto;
    text-align: center;

}

.error-container button{
    padding: 1em;
    background-color: black;
    color: white;
    border: none;
}
